*, *::before, *::after {
    box-sizing: border-box;
    font-family: Verdana, Helvetica, sans-serif;
}

body {
    background-color: #2b2e38;
    padding: 5px;
    margin: 5px;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#questionContainer {
    width: 800px;
    max-width: 75%;
    background-color: rgb(160, 159, 159);
    border-radius: 4px;
    padding: 10px;
    justify-content: center;
}

.buttonGrid {
    gap: 10px;
    margin: 15px 0;
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.btn {
    padding: 5px 10px;
    background-color: rgb(115, 109, 199);
    border-radius: 5px;
    font-size: 1.5rem;
}

.btn:hover {
    border: 10px rgb(245, 72, 72);
}

.startButton {
    font-size: 2rem;
    padding: 10px 20px;
}

.nextButton {
    font-size: 2rem;
    padding: 10px 20px;
}


.scoreButton {
    font-size: 2rem;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

#timer {
    height: 90px;
    width: 90px;
    font-size: 35px;
    position: absolute;
    background-color: rgb(196, 188, 188);
    top: 7px;
    right: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#highScore a {
    text-decoration: none;
    color: black;
}

/* if correct, change to yellow*/
.correct {
    background-color: rgb(204, 235, 67);
}

/* if wrong answer, change to red*/

.wrong {
    background-color: rgb(134, 5, 5);
}

#h1score {
    position: absolute;
    top: 0;
    color: white;
}

#initials {
    font-size: 20px;
    color: rgb(240, 213, 213);
}

#game-over h2 {
    display: flex;
    justify-content: flex-start;
}

#yourscore, #currentScore {
    color: white;
    font-size: 25px;
}

#submittedScores {
    background-color: rgb(225, 173, 230);
    font-size: 40px;
    text-align: center;
    border-radius: 5px;
}

.hide {
    display: none;
}